@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Quicksand:wght@300..700&display=swap');

body{
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight:600;
  font-style: normal;
}
/* share code */
.primary-btn{
    width: 197px;
    height: 50px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 12px;
    background: rgb(17, 17, 17);
    color: rgb(255, 255, 255);
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 600;
    margin-top: 15px;
    border: none;
}


/* navbar start here */
 nav{
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
 }
 .nav-lh{
    display: flex;
 }
 .nav-logo{
    width: 100%;
    height: 100%;
 }
 .nav-title{
    color: rgb(17, 17, 17);
    font-family: Quicksand;
    font-size: 32px;
    font-weight: 700;
 }
 .nav-links{
    width: 387px;
    height: 30px;
    margin-top: 30px;
 }
 .nav-links > a{
    text-decoration: none;
    margin-left: 20px;
 }
 /* header section start */
 header{
    border-bottom: 1px dashed rgb(109, 108, 108);
 }
 .header{
    width: 1158.61px;
    height: 575px;
    margin-left: 100px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 50;
 }
 .header-title{
    width: 640px;
    height: 183px;
    font-family: Quicksand;
    font-size: 56px;
    font-weight: 700;
    text-align: left;
 }
 .header-des{
    width: 640px;
    color: rgb(17, 17, 17);
    font-family: Quicksand;
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
    text-align: left;
 }
 .header-img{
    margin-left: 20px;
 }
 #menu-btn{
    display: none;
 }
 /* curriculum section related style */
 .curriculum{
   height: 879px;
   margin-top: 50px;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   gap: 80;
   padding: 60px 0px 60px 0px;
   background: url(assets/bg.png);
   border-bottom: 1px dashed rgb(194, 192, 192);
 }
 .curriculum-title{
   color: rgb(0, 0, 0);
   font-family: Quicksand;
   font-size: 46px;
   font-weight: 700;
   text-align: center;
   margin-bottom: 100px;
   margin-top: 40px;
 }
 .card-container{
   width: 1160px;
   height: 481.5px;
   margin: 0 auto;
   display: flex;
   gap: 40px;
 }
 #card-1{
   box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(160.00deg, rgb(189, 197, 226),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
 }
 #card-2{
   box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(160.00deg, rgb(172, 223, 206),rgba(255, 255, 255, 0) 40%),rgb(255, 255, 255);
 }
 #card-3{
   box-shadow: inset 0px 0px 28.3px 0.94px rgba(0, 0, 0, 0.05);
background: linear-gradient(160.00deg, rgb(241, 218, 243),rgba(255, 255, 255, 0) 40%),rgb(255,255,255);
 }
 .card{
   width: 367.8px;
   height: 476.78px;
   box-sizing: border-box;
   border: 0.94px solid rgb(222, 245, 255);
   border-radius: 18.86px;
   text-align: center;
 }
 .card-img{
   width: 130.7px;
   height:111.94px;
   margin-top: 65px;
 }
 .card-title{
   color: rgb(32, 32, 32);
   font-size: 24.52px;
   font-weight: 700;
   text-align: center;
   margin-top: 50px;
 }
 .card-des{
   width: 286.26px;
   color: rgb(128, 128, 128);
   font-family: Raleway;
   font-size: 15.09px;
   font-weight: 500;
   margin-left: 40px;
   text-align: center;
 }
 .card-btn{
   background: none;
   border: none;
   font-family: Quicksand;
   font-size: 15.09px;
   font-weight: 700;
   text-align: center;
   margin-top: 50px;
 }
 .than-icon{
   margin-top: 100px;
   width: 130px;
   height: 60px
 }
 .pg-btn{
   width: 60px;
   height: 60px;
   border-radius: 30px;
   border: none;
   background: rgb(227, 162, 229);
   color: rgb(255, 255, 255);
   font-size: 24px;
   text-align: center;
 }
 /* stories related style */

 .stories{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 80;
   padding: 60px 0px 60px 0px;
   margin-top: 0;
   background: url(assets/bg.png),linear-gradient(0.00deg, rgba(114, 203, 209, 0.3),rgba(255, 255, 255, 0.3) 100%);
 }
 .stories-title{
   margin-top: 0;
   color: rgb(0, 0, 0);
   font-family: Quicksand;
   font-size: 46px;
   font-weight: 700;
   text-align: center;
 }
.children-cards{
   margin-top: 40px;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   margin-bottom: 100px;
   gap: 30px;
}
.children-card-2{
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr);
   gap: 30px;
}
.children-card-1{
   width: 540.27px;
   height: 630.52px;
   border-radius: 16px;
   background: rgb(255, 255, 255);
}
.baby-card{
   width: 290.69px;
   height: 301.61px;
   border-radius: 16px;
   background: rgb(255, 255, 255);
}
.hide-card{
   display: none;
}
.baby-img{
   position: absolute;
   border-radius: 16px 16px 0px 0px;
}
.baby-card-btn1{
   position: absolute;
   width: 180.51px;
   height: 47.93px;
   border-radius: 47.93px;
   color: rgb(255, 255, 255);
   font-size: 15.34px;
   font-weight: 500;
   text-transform: capitalize;
   margin-top: 310px;
   margin-left: 20px;
   border: none;
}
.baby-card-btn{
   position: absolute;
   width: 174.51px;
   height: 47.93px;
   border-radius: 47.93px;
   color: rgb(255, 255, 255);
   font-family: Raleway;
   font-size: 15.34px;
   font-weight: 500;
   text-transform: capitalize;
   margin-top: 160px;
   margin-left: 20px;
   border: none;
}
.baby-des1{
   width: 402.49px;
   position: absolute;
   margin-top: 400px;
   color: rgb(0, 0, 0);
   font-size: 15.34px;
   font-weight: 700;
   text-align: left;
   font-family: Quicksand;
   height: 47.93px;
   margin-left: 30px;
}
.baby-des-2{
   position: absolute;
   color: rgb(102, 102, 102);
   font-family: Raleway;
   font-size: 15.34px;
   font-weight: 500;
   line-height: 28.76px;
   letter-spacing: 0%;
   text-align: left;
   margin-top: 450px;
   margin-left: 30px;
   width: 425px;
}
.baby-des{
   position: absolute;
   margin-top: 220px;
   color: rgb(0, 0, 0);
   font-size: 15.34px;
   font-weight: 700;
   text-align: left;
   width: 198.04px;
   height: 47.93px;
   margin-left: 20px;
}
footer{
   background-color: rgba(11, 38, 39, 0.3);
   height: 519px;
}
.footer{
   display: flex;
   width: 1070.91px;
   height: 222px;
}
.footer-lh{
   display: flex;
   flex-direction: row;
}
.footer-links > a{
   display: flex;
   flex-direction: column;
   text-decoration: none;
}


 @media screen and (max-width:576px) {
    .nav-title, .nav-links, .nav-btn{
        display: none;
    }
    nav{
        display: flex;
        width: 100%;
        margin-left: 0;
        border-bottom:1px solid rgb(254, 163, 1);
    }
    .nav-logo{
        height:54px;
        margin-bottom: 20px;
    }
    #menu-btn{
        display: inline-block;
        margin-right: 0;
        font-size:30px;
    }
    .header{
        margin-top: 50px;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        margin-left: 0;
        border-bottom: none;
    }
    .header-container .header-title, .header-des, .header-img{
        width: 100%;
        height: 100%;
        text-align: center;
        margin-left: 0;
    }
     .header-img > img{
        width: 100%;
        margin-left: 0;
     } 
     .curriculum{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      gap: 50;
      width: 100%;
      margin: 0 auto;
      padding: 60px 0px 60px 0px;
      background: url(assets/bg.png);
    }
     .card-container{
      width: 100%;
      height: 100%;
      margin: 0 auto;
      margin-left: 5px;
      margin-right: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .curriculum-title{
      width: 100%;
      margin-bottom: 10px;
    }
    .pg-btn{
      display: none;
    }
    .children-card-1{
      display: none;
    }
    .stories, .stories-title, .children-card-2 {
      width: 100%;
    }
    .children-card-2{
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      margin-left: 10px;
    }
    .baby-img >img{
      width: 100%;
    }
  }
